.directory
*~
tmp/

# gsvm-train
source/gsvm-train/gsvm-train.pro
source/gsvm-train/gsvm-train.pro.user
source/gsvm-train/*.o
source/gsvm-train/Makefile
source/gsvm-train/.qmake.stash
build/gsvm-train/gsvm-train
build/gsvm-train/*.o
build/gsvm-train/.qmake.stash
build/gsvm-train/.directory

# gsvm-predict
source/gsvm-predict/gsvm-predict.pro
source/gsvm-predict/gsvm-predict.pro.user
source/gsvm-predict/*.o
source/gsvm-predict/Makefile
source/gsvm-predict/.qmake.stash
build/gsvm-predict/gsvm-predict
build/gsvm-predict/*.o
build/gsvm-predict/.qmake.stash
build/gsvm-predict/.directory

# Toy example
toy_example/models
toy_example/output
toy_example/generate_data/data/

# Visualization tool
visualization_tool/data/
visualization_tool/experiments/
